@model smartacfe.Models.DashboardViewModel

@{
    ViewBag.Title = "Admin Portal";
    Layout = "_Layout";
}

<h2>Admin Portal</h2>
<form method="get" class="form-inline">
    <input class="form-control w-75" name="filter" value="@Model.Search" placeholder="Serial Number"/>
    <input type="submit" value="Search" class="btn btn-primary"/>
</form>

<div class="mt-5">
    <table class="table table-striped">
        <thead class="thead-dark">
        <tr>
            <th>Serial Number</th>
            <th>Firmware Version</th>
            <th>Registration Date</th>
            <th>Access Key</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var device in Model.Devices)
        {
            <tr>
                <td><a asp-action="Device" asp-route-id="@device.ID">@device.SerialNumber</a></td>
                <td>@device.FirmwareVersion</td>
                <td>@device.RegistrationDate</td>
                <td>@device.AccessKey</td>
            </tr> 
        }
        </tbody>
    </table>
</div>
